*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;   
}
a {
 text-decoration: none;
 color: inherit; 
}
ul,
li {
 margin: 0;
 padding: 0; 
 list-style: none; 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}
p + p {
  margin-top: 1em;
}
img, svg {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}
html,
body {
  font-size: 62.5%;
  font-family: "Open Sans Bold", sans-serif;
  font-height: 700;
  color: #0f0d0e;
  text-transform: uppercase;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400px;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700px;
  font-style: normal;
}
/*------------------------------------------HEADER----------------------------------------------*/
.header {
  position: relative;
  width: 100%;
  background-image: url("../images/banner-bg.jpg");
  background-color: #606260;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}
.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.6;
  z-index: 1;
}
.header-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  z-index: 10;
}
.header-container-top {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 180px;
}
.header-menu {
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.menu-button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  z-index: 10;
  text-indent: -9999px;
  cursor: pointer;
}
.menu-button::before {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}
.menu-button::after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu-list {
  display: flex;
  flex-flow: wrap;
}
.menu-item:nth-child(n + 2) {
  margin-left: 30px;
}
.menu-item, .menu-link {
  font-size: 13px;
  color: #ffffff;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
}
.menu-link:hover {
  text-decoration: underline;
}
.header-title {
  max-width: 715px;
  min-height: 160px;
  margin: 0 auto;
  padding: 75px 0 115px;
  text-align: center;
}
.header-title-slogan {
  font-size: 45px;
  line-height: 1.66;
  color: #ffffff;
}
/*-----------------------------------MEDIA HEDER--------------------------*/
@media (min-width: 1201px) {
  .menu-button {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  .header-container {
    padding: 20px 35px;
  }
  .header-container-top {
   min-height: 60px;
 }
 .menu-list {
  display: none;
}
.header-title {
  max-width: 620px;
  min-height: 110px;
  padding: 65px 0 110px;
}
.header-title-slogan {
  font-size: 40px;
  line-height: 1.38;
}
}
@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }
  .header-container-top {
    flex-direction: column;
    align-items: flex-end;
  }
  .header-logo {
   align-self: center;
 }
 .header-menu {
  order: -1;
}
.header-container-top {
 min-height: 270px;
}
.menu-list {
  display: none;
}
.header-title {
  max-width: 290px;
  min-height: 115px;
  padding: 20px 0 200px;
}
.header-title-slogan {
  font-size: 26px;
  line-height: 1.38;
}
}

/*--------------------------------TRENDS-CONTAINER-------------------------*/
.trends-container {
  margin-bottom: 60px;
}
.trends-title {
  min-height: 80px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}
.trends-title-slogan {
  font-size: 20px;
  line-height: 1.45;
}
.trends-title-slogan::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto;
}
.trends-container-content {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.trend {
  width: calc(100% / 4 - 6px);
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  background-color: #606260;
  position: relative;
}
.trend::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.6;
}
.trend-info {
  width: 100%;
  margin: 0 20px 20px 20px;
  padding: 30px 20px;
  align-items: flex-end;
  position: relative;
  outline: 3px solid #b59f5b;
  opacity: 0.9;
  z-index: 10;
}
.box-one {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-two {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-three {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-four {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.trend-categories {
  display: flex;
  flex-flow: wrap;
}
.trend-category-tegs:nth-child(n + 2) {
  margin-left: 10px;
}
.trend-teg-link {
  font-size: 1.4rem;
  line-height: 2.85;
  color: #b59f5b;
}
.trend-teg-link:hover {
  text-decoration: underline;
}
.trend-title {
  font-size: 2rem;
  line-height: 1.2;
  color: #ffffff;
}
.trend-title-:hover {
  text-decoration: underline;
}
/*---------------------------------MEDIA TRENDS-CONTAINER------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
  .trends-title-slogan {
    font-size: 18px;
    line-height: 1.6;
  } 
  .trend {
    width: 49.7%;
    min-height: 250px;
    margin-bottom: 3px;
  }
  .trend:nth-child(2n + 1) {
   margin-right: 3px;
 }
 .trend-title {
  font-size: 1.7rem;
  line-height: 1.3;
} 
}
@media (max-width: 640px) {
  .trends-title-slogan {
    font-size: 16px;
  }
  .trend {
    width: 100%;
    min-height: 230px;
    margin-bottom: 3px;
  }
  .trend-title {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}
/*---------------------------------CONTENT-CONTAINER-----------------------------------*/
.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex; 
}
/*---------------------------------MEDIA CONTENT-CONTAINER------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
 .content-container {
  padding: 0 35px;
  justify-content: center;
 }   
}
@media (max-width: 640px) {
  .content-container {
    width: 98%;
    flex-flow: wrap;
  }
}

/*---------------------------------------MAIN-------------------------------------------*/
.main-content {
  width: calc(100% - 394px);
}
.article-post {
  display: flex;
}
.article-post:nth-child(n + 2) {
  margin-top: 60px;
}
.article-post-img {
  max-width: 381px;
  max-height: 294px;
  background-color: #eff5f1;
}
.article-post-content {
  max-width: 370px;
  margin-left: 25px;
}
.post-content-category {
  display: flex;
  flex-flow: wrap;
  font-size: 14px;
  line-height: 2.85;
  color: #b59f5b;
}
.post-content-tegs:nth-child(n + 2) {
  margin-left: 15px;
}
.post-content-teg-link:hover {
  text-decoration: underline;
}
.post-content-title {
  font-size: 20px;
  line-height: 1.2;
}
.post-content-title-link:hover {
  color: #b59f5b;
}
.post-content-group {
  display: flex;
  font-size: 12px;
  line-height: 3.33;
}
.post-content-list:nth-child(n + 2) {
  margin-left: 15px;
}
.post-date {
  color: #888888;
  font-weight: 400;
  font-family:"Open Sans Regular", sans-serif;
  text-transform: none;
}
.post-author {
  color: #000000; 
  text-transform: none; 
} 
.post-content-description {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  font-family:"Open Sans Regular", sans-serif;
  text-transform: none;
}
/*----------------------------------------MEDIA-MAIN-------------------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
  .main-content {
  max-width: calc(100% - 309px);
}
 .post-content-title {
  font-size: 17px;
}
.article-post {
  flex-direction: column;
}
.article-post-img {
  width: 100%; 
  height: 100%;
}
.article-post-content {
  max-width: 391px;
  margin-left: 0;
  border-bottom: 2px solid #ededed;
}
}
@media (max-width: 640px) {
  .main-content {
    width: 90%;
    margin: 0 auto;
  }
  .article-post {
  flex-flow: wrap;
}
  .article-post-img {
    width: 100%;
    height: 100%;
  }
  .article-post-content {
    width: 100%;
    margin-left: 0;
    border-bottom: 2px solid #ededed;
  }
  .post-content-title {
    font-size: 16px;
  }
  .post-content-description {
    font-size: 14px;
  }
}

/*--------------------------------------------ASIDE--------------------------------------------*/
.aside-content {
  max-width: 274px;
  margin-left: 120px;
}
.aside-new-post {
  
}
.new-post-title, .aside-subscribe-title, .aside-tegs-title, .aside-categories-title {
  min-height: 60px;
  margin: 0 auto;
  text-align: center;
}
.new-post-slogan, .subscribe-title-slogan, .tegs-title-slogan, .categories-title-slogan  {
  font-size: 14px;
  line-height: 2.07;
}
.new-post-slogan::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto;
}
.article-new-post {
  display: flex;
}
.article-new-post:nth-child(n + 2) {
  margin-top: 20px;
}
.new-post-img {
  max-width: 70px;
  max-height: 70px;
  background-color: #f4f7f5;
}
.new-post-content {
  max-width: 189px;
  margin-left: 15px;
}
.new-post-date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-family:"Open Sans Regular", sans-serif;
  text-transform: none;
}
.new-post-message {
  font-size: 14px;
  line-height: 1.3;
  color: #000000;
}
.message-link:hover {
  color: #b59f5b;
}
.aside-search-form, .aside-subscribe, .aside-tegs, .aside-categories {
  margin-top: 60px;
}
.search-form-row {
  display: flex;
  max-width: 280px;
}
.visually-hidden {
  display: none;
}
.search-field {
  width: 230px;
  padding: 15px 35px;
  background-color: #f4f7f5;
  border: none;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 13px;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}
.search-btn {
  width: 60px;
  min-heith: 70px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  border: none;
}
.search-btn:hover {
  background-color: #313131;
}
.subscribe-title-slogan:after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto;
}
.subscribe-field {
  width: 210px;
  padding: 15px 35px;
  background-color: #f4f7f5;
  border: none;
  font-family: "Open Sans Regular", sans-serif;
  fon-size: 13px;
}
.subscribe-btn {
  width: 274px;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 15px 90px;
  border: none;
  font-family: "Open Sans Bold", sans-serif;
  font-height: 700;
  fon-size: 14px;
  color: #ffffff;
  background-color: #b59f5b;
  text-transform: uppercase;
}
.subscribe-btn:hover {
  color: #313131;
}
.aside-tegs-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto;
}
.tags-group {
  display: flex;
  flex-wrap: wrap;
}
.aside-tag {
  margin: 10px 5px;
  padding: 5px 10px;
  border: 3px solid #ededed;
  font-size: 12px;
}
.aside-tag:hover {
  border-color: #b59f5b;
}
.categories-title-slogan::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto;
}
.categories-group {
  display: flex;
  border-bottom: 1px solid #ededed;
}
.category-group-box {
  margin: 10px 0;
}
.category-group-tag {
  padding: 15px 0;
  font-size: 14px;
  color: #000000;
  text-transform: none;
}
.category-group-tag:hover {
  color: #b59f5b;
} 
.number {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}
/*-------------------------------------MEDIA ASIDE------------------------------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
  .aside-content {
    margin-left: 30px;
  } 
}
@media (max-width: 640px) {
  .aside-content {
    width: 90%;
  } 
  .new-post-slogan, .subscribe-title-slogan, .tegs-title-slogan, .categories-title-slogan {
   font-size: 16px;
 }
}
/*---------------------------------------PRODUCTS CONTAINER---------------------------------------------*/
.products-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto 60px;
}
.products {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.products-title {
  min-height: 80px;
  padding-top: 40px;
  text-align: center;
}
.products-title-slogan {
  font-size: 20px;
  line-height: 1.2;
}
.products-title-slogan::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background: #b59f5b;
  margin: 10px auto 30px;
}
.product {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-preview {
  background-color: #eff5f1;
}
.product-body {
  margin-top: -35px;
  margin-left: -21px;
  margin-right: -21px;
  padding: 30px 18px 20px;
  outline: 2px solid #b59f5b;
  flex-grow: 1;
}
.product-title {
  margin: 15px 0;
  font-size: 20px;
  line-height: 1.2;
}
.product-description {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Open Sans Regular", sans-serif;
  text-transform: none;
}
.product-text-link {
  color: #b59f5b;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
.product-price {
  display: flex;
  font-size: 24px;
  line-height: 1.2;
}
.product-price-old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}
.product-push {
  border: none;
  background-color: #b59f5b;
  padding: 5px 30px;
  font-size: 14px;
  line-height: 2.85;
  text-transform: uppercase; 
}
.product-push-link {
  color: #ffffff;
}
.product-push-link:hover {
  background-color: #313131
}
/*--------------------------------------MEDIA PRODUCTS CONTAINER-------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
  .products-container {
    width: 90%;
    margin: 0 auto;
  }
  .products-title-slogan {
    font-size: 18px;
    line-height: 1.6;
  }
  .products {
   flex-flow: wrap;
 }
 .product {
  max-width: calc(100% - 578px);
  padding: 0 65px; 
  margin-bottom: 25px;
}
}
@media (max-width: 640px) {
  .products-container {
   width: 90%;
   margin: 0 auto;
 }
 .products-title-slogan {  
  font-size: 16px;
  line-height: 1.8;
}
.products {
  flex-flow: wrap;
}
.product {
  max-width: 285px; 
  margin-bottom: 25px;
}
}
/*-------------------------------------------Footer--------------------------------------------*/
.footer-container {
  width: 100%;
  margin-bottom: 30px;
}
.footer-socials,
.socials-item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #f4f7f6;
  padding: 11px 0;
}
.socials-link {
  width: 50px;
  height: 40px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
}
.socials-item {
  margin-right: 10px;
  margin-left: 10px;
}
.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}
.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}
.socials-link-tumbler {
  background-image: url("../svg/003-tumblr.svg");
}
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.footer-copyrights {
  max-width: 1220px;
  margin: 60px auto 20px;
  display: flex;
  justify-content: center;
}
.copyrights {
  font-size: 12px;
  color: #999999;
}
/*-------------------------------------MEDIA FOOTER--------------------------------------------*/
@media (min-width: 641px) and (max-width: 1200px) {
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }
}
/*---------------------------------------POPUP-------------------------------------------------*/
.popup {
  width: 100%;
  min-height: 590px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
  position: relative;
  z-index: 0;
}
.popup::before {
  display: none;
  display: none;
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}
.popup-container {
  display: none;
  max-width: 390px;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 10;
}
.popup-container-title {
  width: 330px;
}
.popup-title {
  text-align: center;
  font-size: 20px;
}
.popup-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  margin: 10px auto 30px;
}
.popup-form {
  width: 370px;
  font-size: 20px;
  line-height: 1.45;
  font-size: 13px;
  font-family: "Open Sans Regular", sans-serif;
  text-transform: none;
  color: #000000;
  font-weight: 400;
}
.form-hint {
  display: block;
  font-size: 13px;
  margin: 10px 0;
}
.popup-select {
  width: 330px;
  height: 50px;
  display: inline-block;
  padding-left: 20px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
  border: none;
  background-color: #f4f7f6;
  color: #333333;
  --webkit-appearance: none;
  --moz-appearance: none;
}
.popup-select:focus {
  outline: 1px solid #b59f5b;
}
.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: center;
  margin-right: 8px;
}
.radio:checked + .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}
.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
.textarea-fild {
  box-sizing: border-box;
  width: 330px;
  height: 130px;
  font-size: ;
  border: none;
  background-color: #f4f7f6;
  padding: 20px 20px;
  resize: none;
  font-family: inherit;
  margin-bottom: 20px;
}
.popup-textarea:focus {
  outline: 1px solid #b59f5b;
}
.popup-botton {
  font-size: 14px;
  line-height: 2.8;
  font-family: "Open Sans Bold", sans-serif;
  font-height: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 330px;
  height: 50px;
  border: none;
  color: #ffffff;
  background-color: #b59f5b;
  cursor: pointer;
}
.popup-botton:hover {
  background-color: #000000;
}
.popup-button-close {
  width: 18px;
  height: 18px;
  font-size: 18px;
  position: absolute;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  top: 0;
  right: -1em;
  z-index: 10;
}
